@import '../style/vars.scss';

li, ul, body, input {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    font-weight: bold;
}
body {
    padding: 5%;
    background: rgba(71, 252, 125, 1); 
}




.list-leave-active {
    position: absolute;  
    transform: rotate(180deg);
}
.list-move {
    transition: transform 1s;
}










